.add_btn{
  text-align: right;
}
.container{
  overflow: auto;
}
.left-view{
font-weight: 500;

}.image{
  width:220px;
  max-height:200px;
  margin-top:-12px;
  margin-left: -10px;
}
p{
  line-height:0.7;
}
.form{
margin-left:350px;

}
